
.app {
  text-align: center;
  height: 100%;
}

.appLogo {
  animation: appLogoAnimation infinite 20s linear;
}

.appHeader {
  padding: 20px;
  font-family: 'Futura', italic;
  font-size: 60px;
  text-align: left;
}

@keyframes appLogoAnimation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
