@import url('https://fonts.googleapis.com/css?family=Montserrat&effect=anaglyph');

.header {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  text-align: center;
}